/*
    ### MAIN SECTION ###
*/

.home {
    display: flex;
    justify-content: space-around;
    padding: 0px 25px 0px 25px;
}

.home__signin-section, .home__signup-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0A1C2B;
}

.signin-section__header {
    text-align: center;
    font-size: 24px;
}

.signin-section__description {
    text-align: center;
    font-size: 24px;
    margin-bottom: 25px;
}

.signin-section__button {
    padding: 12px;
    color: #0A1C2B;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: inherit;
}

.signin-section__start-button {
    border: 2px solid #0A1C2B;
    border-radius: 15px;
    transition: .3s;
}

.signin-section__start-button:hover {
    color: #FFF;
    background-color: #0A1C2B;
}

